@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  --background-dark: #0a0a0a;
  --foreground-dark: #f2f4f8;
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

[data-theme="dark"] {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --modal-bg: #1f2937;
  --modal-text: #f1f1f1;
  --modal-action-bg: #374151;
  --modal-action-text: #f1f1f1;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.checkmark-circle {
  width: 80px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #4caf50;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.checkmark {
  width: 40px;
  height: 20px;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  transform: rotate(-45deg);
  position: absolute;
  top: 30%;
  left: 25%;
  animation: draw 0.5s ease-in-out forwards;
}

@keyframes draw {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 0;
    height: 20px;
  }

  100% {
    width: 40px;
    height: 20px;
  }
}

.xmark-circle {
  width: 80px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xmark-circle .background {
  background-color: #f44336;
}

.xmark {
  position: relative;
  width: 40px;
  height: 40px;
  right: 2%;
}

.xmark::before,
.xmark::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 40px;
  background-color: white;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.xmark::before {
  transform: rotate(45deg);
}

.xmark::after {
  transform: rotate(-45deg);
}

.xmark.draw::before,
.xmark.draw::after {
  animation: draw-x 0.5s ease-in-out forwards;
}

@keyframes draw-x {
  0% {
    height: 0;
  }

  100% {
    height: 40px;
  }
}

.modal-box {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

[data-theme='light'] .sidebar {
  background-color: rgb(255, 255, 255);
  color: #333;
}

[data-theme='light'] .sidebar .text-white {
  color: #333 !important;
}

[data-theme='light'] .sidebar a:hover {
  background-color: #e0e0e0;
}

[data-theme='dark'] .sidebar {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
}

[data-theme='dark'] .sidebar a {
  color: rgb(255, 255, 255);
}

[data-theme='dark'] .sidebar a:hover {
  background-color: #333;
}

[data-theme='dark'] .navbar {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
}

[data-theme='dark'] .navbar a {
  color: rgb(255, 255, 255);
}

[data-theme='dark'] .navbar a:hover {
  background-color: #333;
}

.custom-space-y> :not([hidden])~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bg-f2f4f8 {
  background-color: #f2f4f8;
}

.bg-141414 {
  background-color: #141414;
}

/* Light mode */
.menu li:hover {
  background-color: #f0f7ff;
  color: #161a2a;
}

/* Dark mode */
[data-theme='dark'] .menu li:hover {
  background-color: #161a2a;
  color: #f0f7ff;
}

.bg-active {
  background-color: #f0f7ff;
  color: #161a2a;
}

/* Dark mode */
[data-theme='dark'] .bg-active {
  background-color: #161a2a;
  color: #f0f7ff;
}

/* Light mode */
.btn-expand {
  color: inherit;
  background: #e4e9f0;
}

/* Dark mode */
[data-theme='dark'] .btn-expand {
  color: inherit;
  background: #333;
}